@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --letra: #E5A01E;

    --cor0: #6bb5ff;
    --cor1: #1f8fff;
    --cor2: #1872cc;
    --cor3: #0f4780;
    --cor4: #072E61;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #6bb5ff;
    font-family: var(--fonte-padrao);
}


header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    font-family: var(--fonte-destaque);
    padding: 30px;
}

header > h1{
    color: var(--letra);
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.397);
    padding: 10px;
    
    

    font-size: 3em;

}

header > p {
    color: var(--letra);
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.397);
    font-size: 2em;
    margin: auto;
}

nav {
    background-color: #072E61;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav > a:hover {
    background-color: #E5A01E;
    padding: 10px;
    transition-duration: 0.5s;
}

main {
    background-color: white;
    margin: auto;
    margin-bottom: 20px;

    max-width: 1000px; /* limite horizontal */
    padding: 20px;

    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}




main h2 {
    background-image: linear-gradient(to right, var(--cor0), transparent);
    color: var(--cor4);
    text-shadow: 3px 3px 10px rgba(0,0,0,0.2);;
    
    font-family: var(--fonte-destaque);
    padding: 5px;

    margin: auto;
    margin-left: 10px;
}

main p {
    font-family: var(--fonte-padrao);
    text-align: justify;
    
    padding: 10px;
    margin-left: 10px;
}

section ul {
    padding: 20px;
    margin: auto;
    margin-left: 30px;
    text-align: justify;
}

section ol {
    padding: 20px;
    text-align: justify;
}

div.galeria {
    height: 300px;
    
}

div.galeria > img {
    background-color: white;

    width: 100%;

    max-width: 150px;
    max-height: 200px;
    
}

footer {
    background-color: #0f4780;
    color: #E5A01E;
    padding: 20px;

    text-align: center;
    
}