@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --letra: #E5A01E;

    --cor0: #6bb5ff;
    --cor1: #1f8fff;
    --cor2: #1872cc;
    --cor3: #0f4780;
    --cor4: #072E61;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: #6bb5ff;
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    font-family: var(--fonte-destaque);
    padding: 30px;
}

header > h1{
    color: var(--letra);
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.397);
    padding: 10px;
    

    font-size: 3em;

}

header > p {
    color: var(--letra);
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.397);
    font-size: 2em;
    margin: auto;
}

nav {
    background-color: #072E61;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav > a:hover {
    background-color: #E5A01E;
    padding: 10px;
    transition-duration: 0.5s;
}

main{
    background-color: white;
    width: 93vw;
    padding: 10px;
    
}

section > h2 {
    background-color: var(--cor2);
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.411);
    text-align: center;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #072e6162;
    padding: 15px;
    margin-bottom: 10px;
}

section > p {
    text-align: justify;
    text-indent: 7px;
    padding: 7px;
}


.contatos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    margin: 20px;
}



.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    margin: 20px;
    
}

.icone {
    max-width: 120px;
    max-height: 120px;
    transition: 1s;
}


.icone:hover {
    transform: scale(1.1);
}

footer {
    background-color: #072E61;
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
    color: var(--letra);
    font-size: 1.2em;
    font-weight: bold;
}

footer > p::after {
    content: "copyright";
    font-family: "Material Symbols Outlined";
    font-size: 1.2em;
    vertical-align: middle;
    margin-left: 5px;
}

.botaovoltar {
    display: flex;
    
    background-color: #1872cc;
    width: 50px;


}

.botaovoltar > img {
    width: 50px;
}