@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(to right, #fad3cb, #f8c8a6);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #64584b94;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #cf8c48;
    text-align: center;
    text-shadow: 1px 1px 2px #634323a2;
}

h2 {
    color: #507993;
}

p {
    text-align: justify;
}