@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS . (pode vários elementos)
*/

body {
    background-color: rgb(184, 238, 179);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: forestgreen;
}

h1#principal {
    text-align: center;
    background-color: forestgreen;
    color: white;
}

h2 {
    color: rgb(51, 77, 49);

}

.basico {
    color: #3c7238;
}

.intermediario {
    color:  #717238;
}

.avancado {
    color: #723838;
}